body {
    font-size: 1.5em;
    background: #F2F3F4;
    background-size: cover
}
.category {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: steelblue;
    text-align: center;
    color: white;
    transition: background 1s, transform 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category:hover {
    transform: scale(1.1)
}
.category a {
    color: white;
    transition: transform 1s;
}
.category a:hover {
    transform: rotateZ(360deg)
}
.categories {
    display: flex;
    justify-content: space-between;
    align-content: space-between
}
.pitch-row {
    display: flex;
    justify-content: space-between;
}
.pitch-card {
    padding: 10px;
    border: 1px solid black;
    box-shadow: -1px 1px 16px -1px rgba(0, 0, 0, 0.75);
    background: #D4E6F1;
    margin: 10px;
    overflow: hidden;
    transition: transform 1s;
}
.pitch-card:hover {
    transform: scale(1.1)
}
.pitch-comment {
    text-decoration: none;
}
.pitch-comment:hover {
    transform: scale(1.2)
}
.comment-title {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    display: inline-block
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}