{% extends "base.html" %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock%}

{% block content %}
    <div class="container">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="img-container">
            
            <img src="{{url_for('static', filename=user.profile_pic)}}" class="img-thumbnail">
            <!-- <img src="../static/photos/default.png" class="img-thumbnail"> -->
            </div>
            <form action="{{url_for('main.update_pic',user_id = user.id)}}" method="post" enctype="multipart/form-data">
                <input type="file" name="profile-pic" class="form-control w-50" required>
                <input type="submit" value="Upload">
            </form>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h3>My Pitches</h3>
            {% if pitches %}
            {% for row in pitches | batch(2) %}
            <div class="row pitch-row">
                {% for pitch in row %}
                <div class="col-md-5 pitch-card">
                    <h3 class="source-name">{{pitch.title | upper}}</h3>
                    <p>Posted by <strong>{{pitch.user.name}}</strong></p>
                    <p>Date: {{pitch.date}}</p>
                    <p>Time: {{pitch.time}}</p>
                    <p>"{{pitch.content}}"</p>
                    <p>CATEGORY: <strong>{{pitch.category | upper}}</strong></p>
                    {% if current_user.is_authenticated %}
                    <a class="pitch-comment" href="{{url_for('main.comment',user = current_user.id, pitch_id = pitch.id)}}">Add a
                        comment</a>
                    <a class="pitch-comment" href="{{url_for('main.view_comments',pitch_id = pitch.id)}}">View Comments</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            {% else %}
            <h2>You don't have any pitches</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}